@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");
@font-face{
    font-family: fuente-logo;
    src: url("../fuente/Doctor\ Glitch.otf");
}

body {
    font-family: "Montserrat", sans-serif !important}
    /*navbar*/
.nav-item:hover {
    background: rgb(249, 97, 42);
}
.dropdown-menu li:hover {
    background: rgb(249, 97, 42);
}
.dropdown-menu a:hover {
    background-color: transparent;
}

.dropdown:hover .dropdown-menu {
    margin-top: 20px;
    left: 0;
    display: block;
}

.logo-nav {
    font-size: 30px;
    font-weight: bolder;
    margin-right: 10px;
    background-image: linear-gradient(180deg, #abfaf2 0, #8feae6 25%, #6cd8d8 50%, #41c6cb 75%, #00b6c1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "fuente-logo";
    cursor: pointer;
}

.img-login{
    width: 30px;
}

#logout, #administrar 
 {
    display: none;
}

.pixie-nav {
    width: 100%;
}

/* IMAGEN Y FORMULARIO */

.img {
    width: 100%;
    zoom: 120%;
}


.fondo-form {
    background-color: #abfaf252;
    width: 70%;
    height: auto;
    padding-top: 9%;
}

.form {
    box-shadow: #00b7c19c 2px;
    background-color: #fff;
    box-shadow: 5px 7px 28px -12px rgba(0,0,0,1);
    border-radius: 2%;
}


/*footer*/
footer a {
    font-weight: 100 ;
    line-height: 2 ;
    
}