@font-face{
  font-family: fuente-logo;
  src: url("../fuente/Doctor\ Glitch.otf");
}

body {
  font-family: "Montserrat", sans-serif !important;
  background-color: #abfaf252;
  margin-top: 0px !important;
}

#checkTerms {
  margin-top: 12px;
}

.titulos {
  font-size: xxx-large;
  color: rgb(249, 97, 42);
  margin-left: 10px;
}

.formreg {
    background-color: white;
    margin: auto;
    margin-top: 100px;
    width: 800px;
    font-size: 1.125rem;
    text-anchor: middle;
    padding: 50px;
}


/*navbar*/
.nav-item:hover {
  background: rgb(249, 97, 42);
}
.dropdown-menu li:hover {
  background: rgb(249, 97, 42);
}
.dropdown-menu a:hover {
  background-color: transparent;
}

.dropdown:hover .dropdown-menu {
  margin-top: 20px;
  left: 0;
  display: block;
}

.logo-nav {
  font-size: 30px;
  font-weight: bolder;
  margin-right: 10px;
  background-image: linear-gradient(180deg, #abfaf2 0, #8feae6 25%, #6cd8d8 50%, #41c6cb 75%, #00b6c1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "fuente-logo";
  cursor: pointer;
}

.img-login{
  width: 30px;
}

.pixie-nav {
  width: 100%;
}


/* FORMULARIO */

body

.container {
  max-width: 38em;
  padding: 1em 3em 2em 3em;
  margin-top: 7em;
  margin-bottom: 2em;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: 5px 7px 28px -12px rgba(0,0,0,1);
}

.text-terminos {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.815);
  font-weight: bold;
}

.text-terminos:hover {
  color: rgba(255, 255, 255, 0.879);
  transition: 0.5s;
}